a{
  text-decoration: none;
  
}

body{
  background-color: orange;
}

button{
  background-color: burlywood;
  border: none;
  border-radius: 5px;
}

#hasil{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 128, 255, 0.6);

}
button:hover{
  background-color: rgb(20, 231, 20);
}

#selamat {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(255, 30, 0, 0.6);
}